body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

.header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    margin: 5px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.delete {
    background: red;
}